.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  & h1 {
    font-size: var(--fs-xxlarge);
    color: var(--color-primary);

    & span {
      text-decoration: underline;
    }
  }

  & h2 {
    font-size: var(--fs-xlarge);
    color: var(--color-primary);
    text-transform: uppercase;
  }

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  & p {
    font-size: var(--fs-default);
  }

  &__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  & a {
    color: var(--color-primary);
    font-size: var(--fs-default);
    text-decoration: underline;
  }
}
