.restaurants {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 3rem;
  }

  &__container {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-direction: column;
  }
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 3;
  padding: 1rem;
}

.btn-filter {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
